* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin: 2% 30%;
    border-top: 5px solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.3);
}

.text {
    margin: 3%;
    font-size: 1vh;
}

.text p {
    margin: 1%;
}

.field-container {
    padding: 25px;
}

.field {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.field label {
    min-width: 70px;
    height: 20px;
    font-weight: bolder;
    font-size: 20px;
}

input {
    display: block;
    width: 75%;
    padding: 8px;
    border-radius: 5px;
}

#inputKilometer {
    width: 69%;
}

@media only screen and (max-width:768px) {
    .text {
        font-size: 20px !important;
    }
    .field {
        display: block;
    }
    input {
        width: 100%;
    }
    #inputKilometer {
        width: 100%;
    }
}